# Testing Notebook in Docker.

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession\
    .builder\
    .appName("PythonSQL")\
    .getOrCreate()

### Works on Docker

In [11]:
df = spark.read.csv('home_data.csv', header=True)
df.show()
df.printSchema()

+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|  price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|7129300520|20141013T000000| 221900|       3|        1|       1180|    5650|     1|         0|   0|        3|    7|      1180|            0|    1955|           0|  98178|47.5112|-122.257|         1340|      5650|
|6414100192|20141209T000000| 538000|       3|     2.25|       2570|    7242|     2|         0|   0|        3|    7|      2170|          400|    1951|        1991|  98125| 47.721|-122.319|         1690|      7639|
|5631500400|20150225T000000| 180000|       2|        1|        770|   10000|     1|         0|   0|        3|    6|       770|            0|    1933|           0|  98028|47.7379|-122.233|         2720|      8062|
|2487200875|20141209T000000| 604000|       4|        3|       1960|    5000|     1|         0|   0|        5|    7|      1050|          910|    1965|           0|  98136|47.5208|-122.393|         1360|      5000|
|1954400510|20150218T000000| 510000|       3|        2|       1680|    8080|     1|         0|   0|        3|    8|      1680|            0|    1987|           0|  98074|47.6168|-122.045|         1800|      7503|
|7237550310|20140512T000000|1225000|       4|      4.5|       5420|  101930|     1|         0|   0|        3|   11|      3890|         1530|    2001|           0|  98053|47.6561|-122.005|         4760|    101930|
|1321400060|20140627T000000| 257500|       3|     2.25|       1715|    6819|     2|         0|   0|        3|    7|      1715|            0|    1995|           0|  98003|47.3097|-122.327|         2238|      6819|
|2008000270|20150115T000000| 291850|       3|      1.5|       1060|    9711|     1|         0|   0|        3|    7|      1060|            0|    1963|           0|  98198|47.4095|-122.315|         1650|      9711|
|2414600126|20150415T000000| 229500|       3|        1|       1780|    7470|     1|         0|   0|        3|    7|      1050|          730|    1960|           0|  98146|47.5123|-122.337|         1780|      8113|
|3793500160|20150312T000000| 323000|       3|      2.5|       1890|    6560|     2|         0|   0|        3|    7|      1890|            0|    2003|           0|  98038|47.3684|-122.031|         2390|      7570|
|1736800520|20150403T000000| 662500|       3|      2.5|       3560|    9796|     1|         0|   0|        3|    8|      1860|         1700|    1965|           0|  98007|47.6007|-122.145|         2210|      8925|
|9212900260|20140527T000000| 468000|       2|        1|       1160|    6000|     1|         0|   0|        4|    7|       860|          300|    1942|           0|  98115|  47.69|-122.292|         1330|      6000|
|0114101516|20140528T000000| 310000|       3|        1|       1430|   19901|   1.5|         0|   0|        4|    7|      1430|            0|    1927|           0|  98028|47.7558|-122.229|         1780|     12697|
|6054650070|20141007T000000| 400000|       3|     1.75|       1370|    9680|     1|         0|   0|        4|    7|      1370|            0|    1977|           0|  98074|47.6127|-122.045|         1370|     10208|
|1175000570|20150312T000000| 530000|       5|        2|       1810|    4850|   1.5|         0|   0|        3|    7|      1810|            0|    1900|           0|  98107|  47.67|-122.394|         1360|      4850|
|9297300055|20150124T000000| 650000|       4|        3|       2950|    5000|     2|         0|   3|        3|    9|      1980|          970|    1979|           0|  98126|47.5714|-122.375|         2140|      4000|
|1875500060|20140731T000000| 395000|       3|        2|       1890|   14040|     2|         0|   0|        3|    7|      1890|            0|    1994|           0|  98019|47.7277|-121.962|         1890|     14018|
|6865200140|20140529T000000| 485000|       4|        1|       1600|    4300|   1.5|         0|   0|        4|    7|      1600|            0|    1916|           0|  98103|47.6648|-122.343|         1610|      4300|
|0016000397|20141205T000000| 189000|       2|        1|       1200|    9850|     1|         0|   0|        4|    7|      1200|            0|    1921|           0|  98002|47.3089| -122.21|         1060|      5095|
|7983200060|20150424T000000| 230000|       3|        1|       1250|    9774|     1|         0|   0|        4|    7|      1250|            0|    1969|           0|  98003|47.3343|-122.306|         1280|      8850|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- price: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- sqft_living: string (nullable = true)
 |-- sqft_lot: string (nullable = true)
 |-- floors: string (nullable = true)
 |-- waterfront: string (nullable = true)
 |-- view: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sqft_above: string (nullable = true)
 |-- sqft_basement: string (nullable = true)
 |-- yr_built: string (nullable = true)
 |-- yr_renovated: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- sqft_living15: string (nullable = true)
 |-- sqft_lot15: string (nullable = true)

In [20]:
df.filter("price > 1000000").select("price", "sqft_living", "zipcode").show()

+-------+-----------+-------+
|  price|sqft_living|zipcode|
+-------+-----------+-------+
|1225000|       5420|  98053|
|2000000|       3050|  98040|
|1350000|       2753|  98070|
|1325000|       3200|  98004|
|1040000|       4770|  98005|
|1099880|       3520|  98199|
|1088000|       2920|  98004|
|1450000|       2750|  98004|
|2250000|       5180|  98006|
|1095000|       4090|  98033|
|1505000|       3300|  98040|
|1072000|       3900|  98144|
|1025000|       3760|  98033|
|2400000|       3650|  98074|
|2900000|       5050|  98004|
|1365000|       5310|  98077|
|2050000|       3830|  98122|
|3075000|       4550|  98074|
|2384000|       3650|  98119|
|1384000|       4290|  98006|
+-------+-----------+-------+
only showing top 20 rows

### Let's try the registered table

In [32]:
df.createOrReplaceTempView("homes")
expensive_homes_by_zip = spark.sql("select zipcode, count(*) as cnt from homes where price > 1000000 group by zipcode order by 2 desc")
expensive_homes_by_zip.show()

+-------+---+
|zipcode|cnt|
+-------+---+
|  98004|181|
|  98040|135|
|  98112|119|
|  98006|115|
|  98033| 89|
|  98199| 65|
|  98105| 58|
|  98039| 44|
|  98075| 42|
|  98119| 37|
|  98115| 35|
|  98053| 33|
|  98144| 32|
|  98177| 28|
|  98074| 27|
|  98059| 27|
|  98109| 27|
|  98102| 24|
|  98116| 24|
|  98034| 23|
+-------+---+
only showing top 20 rows

## How to change column
Heres how you change the type of the column. Got the code from [here](http://stackoverflow.com/questions/32284620/how-to-change-a-dataframe-column-from-string-type-to-double-type-in-pyspark)

In [34]:
from pyspark.sql.types import DoubleType
test = df.selectExpr("sqft_living as features")
test = test.withColumn("features", test["features"].cast(DoubleType()))

test.printSchema()
test.show()

root
 |-- features: double (nullable = true)

+--------+
|features|
+--------+
|  1180.0|
|  2570.0|
|   770.0|
|  1960.0|
|  1680.0|
|  5420.0|
|  1715.0|
|  1060.0|
|  1780.0|
|  1890.0|
|  3560.0|
|  1160.0|
|  1430.0|
|  1370.0|
|  1810.0|
|  2950.0|
|  1890.0|
|  1600.0|
|  1200.0|
|  1250.0|
+--------+
only showing top 20 rows

### Let's try querying file directly
Notice you have to use the tick around the file path.

TODO: find a way to get specify the header

In [24]:
df_home_file = spark.sql("select * from csv. `home_data.csv`")
df_home_file.show()

+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|       _c0|            _c1|    _c2|     _c3|      _c4|        _c5|     _c6|   _c7|       _c8| _c9|     _c10| _c11|      _c12|         _c13|    _c14|        _c15|   _c16|   _c17|    _c18|         _c19|      _c20|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
|        id|           date|  price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|yr_renovated|zipcode|    lat|    long|sqft_living15|sqft_lot15|
|7129300520|20141013T000000| 221900|       3|        1|       1180|    5650|     1|         0|   0|        3|    7|      1180|            0|    1955|           0|  98178|47.5112|-122.257|         1340|      5650|
|6414100192|20141209T000000| 538000|       3|     2.25|       2570|    7242|     2|         0|   0|        3|    7|      2170|          400|    1951|        1991|  98125| 47.721|-122.319|         1690|      7639|
|5631500400|20150225T000000| 180000|       2|        1|        770|   10000|     1|         0|   0|        3|    6|       770|            0|    1933|           0|  98028|47.7379|-122.233|         2720|      8062|
|2487200875|20141209T000000| 604000|       4|        3|       1960|    5000|     1|         0|   0|        5|    7|      1050|          910|    1965|           0|  98136|47.5208|-122.393|         1360|      5000|
|1954400510|20150218T000000| 510000|       3|        2|       1680|    8080|     1|         0|   0|        3|    8|      1680|            0|    1987|           0|  98074|47.6168|-122.045|         1800|      7503|
|7237550310|20140512T000000|1225000|       4|      4.5|       5420|  101930|     1|         0|   0|        3|   11|      3890|         1530|    2001|           0|  98053|47.6561|-122.005|         4760|    101930|
|1321400060|20140627T000000| 257500|       3|     2.25|       1715|    6819|     2|         0|   0|        3|    7|      1715|            0|    1995|           0|  98003|47.3097|-122.327|         2238|      6819|
|2008000270|20150115T000000| 291850|       3|      1.5|       1060|    9711|     1|         0|   0|        3|    7|      1060|            0|    1963|           0|  98198|47.4095|-122.315|         1650|      9711|
|2414600126|20150415T000000| 229500|       3|        1|       1780|    7470|     1|         0|   0|        3|    7|      1050|          730|    1960|           0|  98146|47.5123|-122.337|         1780|      8113|
|3793500160|20150312T000000| 323000|       3|      2.5|       1890|    6560|     2|         0|   0|        3|    7|      1890|            0|    2003|           0|  98038|47.3684|-122.031|         2390|      7570|
|1736800520|20150403T000000| 662500|       3|      2.5|       3560|    9796|     1|         0|   0|        3|    8|      1860|         1700|    1965|           0|  98007|47.6007|-122.145|         2210|      8925|
|9212900260|20140527T000000| 468000|       2|        1|       1160|    6000|     1|         0|   0|        4|    7|       860|          300|    1942|           0|  98115|  47.69|-122.292|         1330|      6000|
|0114101516|20140528T000000| 310000|       3|        1|       1430|   19901|   1.5|         0|   0|        4|    7|      1430|            0|    1927|           0|  98028|47.7558|-122.229|         1780|     12697|
|6054650070|20141007T000000| 400000|       3|     1.75|       1370|    9680|     1|         0|   0|        4|    7|      1370|            0|    1977|           0|  98074|47.6127|-122.045|         1370|     10208|
|1175000570|20150312T000000| 530000|       5|        2|       1810|    4850|   1.5|         0|   0|        3|    7|      1810|            0|    1900|           0|  98107|  47.67|-122.394|         1360|      4850|
|9297300055|20150124T000000| 650000|       4|        3|       2950|    5000|     2|         0|   3|        3|    9|      1980|          970|    1979|           0|  98126|47.5714|-122.375|         2140|      4000|
|1875500060|20140731T000000| 395000|       3|        2|       1890|   14040|     2|         0|   0|        3|    7|      1890|            0|    1994|           0|  98019|47.7277|-121.962|         1890|     14018|
|6865200140|20140529T000000| 485000|       4|        1|       1600|    4300|   1.5|         0|   0|        4|    7|      1600|            0|    1916|           0|  98103|47.6648|-122.343|         1610|      4300|
|0016000397|20141205T000000| 189000|       2|        1|       1200|    9850|     1|         0|   0|        4|    7|      1200|            0|    1921|           0|  98002|47.3089| -122.21|         1060|      5095|
+----------+---------------+-------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+------------+-------+-------+--------+-------------+----------+
only showing top 20 rows